		
 
   @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

   body{
          background:#7db0e0;
          margin:0;
          font-family: 'Nanum Gothic', sans-serif;
          max-width:500px;
         }
    a{
      text-decoration: none;
      color: black;
    }

 
 
 

    #return{
      background-image: url("../img/화살표2.png");
      background-size: 100%;
      float: right;
      margin-top: 10px;
      margin-right: 10px;
      width: 25px;
      height: 25px;
      z-index: 1;
    }
    #logo{
      background-image: url("../img/logo.png");
      background-size: 100%;
      float: left;
      margin: 0 auto
      margin-top: 10px;
      margin-left: 20px;
      width: 110px; 
      height: 90px;
     
    }

    
    #title{
      font-size : 20px;
      width: 300px;
      height: 130px;
      line-height: 130px;
      text-align: center;
      font-weight: 900;
      color: white;
    }
    section{
      width: 320px;
      height: 100px;
      margin-left: 5px;
      margin-top: 30px;
    }
    pre{
     color: white;
     font-weight: 700;
     font-size: 15px;
      
    }
    pre>span{
      color: #101641;
    }

    footer{
      width: 100%;
      height: 100px;
      text-align: center;
    }
    }
    #result{
      text-align: center;
      font-size: 18px;

    }

    #jin{
    background-color: #101641;
    width: 100px;
    height: 40px;
    left : 0;
    bottom: 1px;
    position: fixed;
    
    }
    #jin>a{
      color: white;
       font-weight: 700;
       font-size: 25px;
    }
    #clin{
    background-color: #2e2e2e;
    width: 100px;
    height: 40px;
    right :0;
    bottom: 1px;
    position: fixed;
    text-align: center;
    }
    #clin>a{
      color: white;
      font-size: 25px;
       font-weight: 700;
    }
    .div1{ margin-left: 30px;}
}